In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sna

In [ ]:
data = pd.read_csv('imdb_movies.csv')

In [10]:
data.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10178 entries, 0 to 10177
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   names       10178 non-null  object
 1   date_x      10178 non-null  object
 2   score       10178 non-null  float64
 3   genre       10093 non-null  object
 4   overview    10178 non-null  object
 5   crew        10122 non-null  object
 6   orig_title  10178 non-null  object
 7   status      10178 non-null  object
 8   orig_lang   10178 non-null  object
 9   budget_x    10178 non-null  float64
 10  revenue     10178 non-null  float64
 11  country     10178 non-null  object
dtypes: float64(3), object(9)
memory usage: 954.3+ KB

In [13]:
data.describe

<bound method NDFrame.describe of                                          names       date_x  score  \
0                                    Creed III  03/02/2023    73.0
1                     Avatar: The Way of Water  12/15/2022    78.0
2                  The Super Mario Bros. Movie  04/05/2023    76.0
3                                      Mummies  01/05/2023    70.0
4                                    Supercell  03/17/2023    61.0
...                                        ...          ...    ...
10173                       20th Century Women  12/28/2016    73.0
10174  Delta Force 2: The Colombian Connection  08/24/1990    54.0
10175                         The Russia House  12/21/1990    61.0
10176         Darkman II: The Return of Durant  07/11/1995    55.0
10177       The Swan Princess: A Royal Wedding  07/20/2020    70.0

                                                   genre  \
0                                          Drama, Action
1                     Science Fiction, Adventure, Action
2          Animation, Adventure, Family, Fantasy, Comedy
3          Animation, Comedy, Family, Adventure, Fantasy
4                                                 Action
...                                                  ...
10173                                              Drama
10174                                             Action
10175                           Drama, Thriller, Romance
10176  Action, Adventure, Science Fiction, Thriller, ...
10177                         Animation, Family, Fantasy

                                                overview  \
0      After dominating the boxing world, Adonis Cree...
1      Set more than a decade after the events of the...
2      While working underground to fix a water main,...
3      Through a series of unfortunate events, three ...
4      Good-hearted teenager William always lived in ...
...                                                  ...
10173  In 1979 Santa Barbara, California, Dorothea Fi...
10174  When DEA agents are taken captive by a ruthles...
10175  Barley Scott Blair, a Lisbon-based editor of R...
10176  Darkman and Durant return and they hate each o...
10177  Princess Odette and Prince Derek are going to ...

                                                    crew  \
0      Michael B. Jordan, Adonis Creed, Tessa Thompso...
1      Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...
2      Chris Pratt, Mario (voice), Anya Taylor-Joy, P...
3      Óscar Barberán, Thut (voice), Ana Esther Albor...
4      Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...
...                                                  ...
10173  Annette Bening, Dorothea Fields, Lucas Jade Zu...
10174  Chuck Norris, Col. Scott McCoy, Billy Drago, R...
10175  Sean Connery, Bartholomew 'Barley' Scott Blair...
10176  Larry Drake, Robert G. Durant, Arnold Vosloo, ...
10177  Nina Herzog, Princess Odette (voice), Yuri Low...

                                    orig_title     status  \
0                                    Creed III   Released
1                     Avatar: The Way of Water   Released
2                  The Super Mario Bros. Movie   Released
3                                       Momias   Released
4                                    Supercell   Released
...                                        ...        ...
10173                       20th Century Women   Released
10174  Delta Force 2: The Colombian Connection   Released
10175                         The Russia House   Released
10176         Darkman II: The Return of Durant   Released
10177       The Swan Princess: A Royal Wedding   Released

                 orig_lang     budget_x       revenue country
0                  English   75000000.0  2.716167e+08      AU
1                  English  460000000.0  2.316795e+09      AU
2                  English  100000000.0  7.244590e+08      AU
3       Spanish, Castilian   12300000.0  3.420000e+07      AU
4                  English   77000000.0  3.409420e+08      US
...                    ...          ...           ...     ...
10173              English    7000000.0  9.353729e+06      US
10174              English    9145817.8  6.698361e+06      US
10175              English   21800000.0  2.299799e+07      US
10176              English  116000000.0  4.756613e+08      US
10177              English   92400000.0  5.394018e+08      GB

[10178 rows x 12 columns]>

In [ ]:
data.isna().sum()

names          0
date_x         0
score          0
genre         85
overview       0
crew          56
orig_title     0
status         0
orig_lang      0
budget_x       0
revenue        0
country        0
dtype: int64

In [16]:
data.duplicated().sum()

np.int64(0)

In [24]:
n_data = data.dropna()

In [25]:
n_data

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US
...,...,...,...,...,...,...,...,...,...,...,...,...
10173,20th Century Women,12/28/2016,73.0,Drama,"In 1979 Santa Barbara, California, Dorothea Fi...","Annette Bening, Dorothea Fields, Lucas Jade Zu...",20th Century Women,Released,English,7000000.0,9.353729e+06,US
10174,Delta Force 2: The Colombian Connection,08/24/1990,54.0,Action,When DEA agents are taken captive by a ruthles...,"Chuck Norris, Col. Scott McCoy, Billy Drago, R...",Delta Force 2: The Colombian Connection,Released,English,9145817.8,6.698361e+06,US
10175,The Russia House,12/21/1990,61.0,"Drama, Thriller, Romance","Barley Scott Blair, a Lisbon-based editor of R...","Sean Connery, Bartholomew 'Barley' Scott Blair...",The Russia House,Released,English,21800000.0,2.299799e+07,US
10176,Darkman II: The Return of Durant,07/11/1995,55.0,"Action, Adventure, Science Fiction, Thriller, ...",Darkman and Durant return and they hate each o...,"Larry Drake, Robert G. Durant, Arnold Vosloo, ...",Darkman II: The Return of Durant,Released,English,116000000.0,4.756613e+08,US
10177,The Swan Princess: A Royal Wedding,07/20/2020,70.0,"Animation, Family, Fantasy",Princess Odette and Prince Derek are going to ...,"Nina Herzog, Princess Odette (voice), Yuri Low...",The Swan Princess: A Royal Wedding,Released,English,92400000.0,5.394018e+08,GB

In [27]:
n_data.shape

(10052, 12)

In [28]:
n_data.isna().sum()

names         0
date_x        0
score         0
genre         0
overview      0
crew          0
orig_title    0
status        0
orig_lang     0
budget_x      0
revenue       0
country       0
dtype: int64

In [29]:
n_data.duplicated().sum()

np.int64(0)

In [31]:
n_data.columns

Index(['names', 'date_x', 'score', 'genre', 'overview', 'crew', 'orig_title',
       'status', 'orig_lang', 'budget_x', 'revenue', 'country'],
      dtype='object')

In [111]:
n_data['genre'].value_counts()

genre
Drama                                                   556
Comedy                                                  373
Drama, Romance                                          268
Horror                                                  258
Horror, Thriller                                        202
                                                       ...
Action, Animation, Crime, Drama                           1
Adventure, Animation, Family, Action                      1
Drama, Animation, Family, Comedy, Fantasy                 1
Science Fiction, War                                      1
Action, Adventure, Science Fiction, Thriller, Horror      1
Name: count, Length: 2300, dtype: int64

In [112]:
n_data.groupby("genre").agg({'score':'mean', 'budget_x' : 'sum'}).sort_values(by = 'genre', ascending = False )

                                                  score      budget_x
genre
Western, Thriller                             57.000000  1.346000e+08
Western, Mystery, Thriller, Drama             71.000000  1.300000e+07
Western, Mystery                              56.000000  1.112000e+08
Western, Horror, Mystery                      63.000000  1.130000e+08
Western, Horror                               68.000000  2.000000e+06
...                                                 ...           ...
Action, Adventure, Animation, Comedy, Family  68.000000  2.390000e+08
Action, Adventure, Animation, Comedy          69.000000  1.263000e+08
Action, Adventure, Animation                  62.333333  2.836000e+08
Action, Adventure                             62.166667  1.311510e+09
Action                                        59.802326  4.041023e+09

[2300 rows x 2 columns]

In [62]:
n_data['orig_lang'] =  n_data['orig_lang'].str.strip()

/var/folders/n9/v_561t7978qftpv9p1997pn00000gn/T/ipykernel_26660/3905760804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_data['orig_lang'] =  n_data['orig_lang'].str.strip()

In [65]:
n_data.query('orig_lang in "Japanese"')

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
49,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,02/25/2021,83.0,"Animation, Action, Adventure, Fantasy, Thriller","Tanjiro Kamado, joined with Inosuke Hashibira,...","Natsuki Hanae, Tanjiro Kamado (voice), Akari K...",劇場版「鬼滅の刃」無限列車編,Released,Japanese,15800000.0,503063688.0,AU
81,Dragon Ball Super: Super Hero,08/18/2022,79.0,"Animation, Science Fiction, Action","The Red Ribbon Army, an evil organization that...","Masako Nozawa, Son Goku / Son Gohan / Son Gote...",ドラゴンボール超 スーパーヒーロー,Released,Japanese,43602530.2,86562140.0,AU
111,Demon Slayer: Kimetsu no Yaiba Sibling's Bond,03/29/2019,80.0,"Action, Animation, Fantasy",Tanjiro finds his family slaughtered and the l...,"Natsuki Hanae, Tanjiro Kamado (voice), Akari K...",鬼滅の刃 兄妹の絆,Released,Japanese,129000000.0,645532173.4,JP
130,Jujutsu Kaisen 0,03/17/2022,82.0,"Animation, Action, Fantasy",Yuta Okkotsu is a nervous high school student ...,"Megumi Ogata, Yuta Okkotsu (voice), Kana Hanaz...",劇場版 呪術廻戦 0,Released,Japanese,21835777.0,195870885.0,AU
133,Super Mario Brothers: Great Mission to Rescue ...,07/20/1986,60.0,"Animation, Comedy, Fantasy",When Princess Peach is kidnapped by the monste...,"Toru Furuya, Mario (voice), Yu Mizushima, Luig...",スーパーマリオブラザーズ ピーチ姫救出大作戦!,Released,Japanese,151600000.0,675230189.0,JP
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Cross Road,02/25/2014,64.0,Animation,High school students Miho and Shouta are prepa...,"Ayane Sakura, Miho (voice), Kensho Ono, Shōta ...",クロスロード,Released,Japanese,124000000.0,239651951.0,JP
10022,Hidden Leaf Village Grand Sports Festival!,08/21/2004,72.0,"Action, Animation, Comedy",The genin of Konoha are having a sports day fi...,"Junko Takeuchi, Naruto Uzumaki (voice), Noriak...",木ノ葉の里の大運動会,Released,Japanese,120497600.0,506565760.2,JP
10086,Mobile Suit Gundam Narrative,11/30/2018,67.0,"Animation, Science Fiction, Action","U.C. 0097, one year after the opening of ""Lapl...","Junya Enoki, Jona Basta (voice), Tomo Muranaka...",機動戦士ガンダムNT,Released,Japanese,132600000.0,488640213.0,JP
10124,Pulse,02/03/2001,66.0,"Horror, Thriller, Mystery","In the immense city of Tokyo, the darkness of ...","Haruhiko Kato, Ryosuke Kawashima, Kumiko Aso, ...",回路,Released,Japanese,20500000.0,30241435.0,JP
10171,The Seven Deadly Sins: Prisoners of the Sky,08/18/2018,76.0,"Action, Adventure, Fantasy, Animation","Traveling in search of the rare ingredient, “s...","Yuki Kaji, Meliodas (voice), Sora Amamiya, Eli...",劇場版 七つの大罪 天空の囚われ人,Released,Japanese,62600000.0,706002070.8,JP

In [76]:
def category(row):
    if row['score'] >= 90:
        return 'Blockbuster'
    elif row['score'] >= 70 and row['score'] < 90:
        return "Hit"
    else:
        return "Average"

n_data.loc[:,"Category"] = n_data.apply(category, axis=1)

In [77]:
n_data.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country,Category
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU,Hit
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU,Hit
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU,Hit
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU,Hit
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US,Average

In [79]:
n_data = n_data.drop('Category', axis=1)

In [80]:
n_data.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

In [85]:
condition = [
    (n_data['score'] >= 90),
    (n_data['score'] >= 70) & (n_data['score'] < 90),
    (n_data['score'] < 70)  
]

choices = ["Blockbuster", "Hit", "Average"]

n_data["Category"] = np.select(condition, choices, default="Unknown")

In [86]:
n_data.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country,Category
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU,Hit
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU,Hit
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU,Hit
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU,Hit
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US,Average

In [91]:
n_data.query('Category == "Blockbuster"')

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country,Category
277,Orgasm Lecture 2,02/20/2020,100.0,Drama,"Yuner, Liu Ren, and Zhou Xian are college girl...","Min Do-yoon, , Park Soo-bin-III, , Hong Sae-he...",오르가즘 특강 2,Released,Korean,201000000.0,1.569324e+09,KR,Blockbuster
443,El asistente,03/01/2023,100.0,Comedy,We don't have an overview translated in Englis...,"Rodrigo Noya, Miguel, Luis Cao, Jimmy, Florenc...",El asistente,Released,"Spanish, Castilian",201000000.0,1.569324e+09,AR,Blockbuster
934,Female Boss Hooker,08/31/2020,100.0,"Drama, Romance",Ji-cheol is a job seeker who only plays and ea...,"Ye Seul, , Lee Sul-ah-I, , Min Do-yoon, , Jo Y...",여사장 후리꾼,Released,Korean,201000000.0,1.569324e+09,KR,Blockbuster
1317,"La Usurpadora, the Musical",12/31/2023,90.0,"Music, Comedy, Drama","Two identical twin sisters, separated at birth...","Isabella Castillo, Valeria / Victoria, Alan Es...","La Usurpadora, El Musical",Released,"Spanish, Castilian",254000000.0,1.656280e+09,MX,Blockbuster
2156,BTS: Permission to Dance on Stage - LA,09/08/2022,92.0,"Music, Documentary","Purple colors the city of Los Angeles, as BTS ...","Kim Nam-joon, Self, Kim Seok-jin, Self, Min Yo...",BTS: PERMISSION TO DANCE 온 스테이지 – LA,Released,Korean,215600000.0,1.748017e+09,KR,Blockbuster
2930,Young Mother-in-Law,03/09/2018,90.0,Romance,A young mother-in-law falls in love with her d...,"Si Ah, , Hee Jin, , Joon Ho, , Si Hoo,",젊은장모,Released,Korean,109800000.0,1.155101e+09,KR,Blockbuster
4483,Louis Tomlinson: All of Those Voices,03/22/2023,91.0,"Documentary, Music",Ditching the typical glossy sheen of celebrity...,"Louis Tomlinson, Self, Oliver Wright, Louis’ P...",Louis Tomlinson: All of Those Voices,Released,English,178800000.0,2.081794e+09,GB,Blockbuster
4755,Directing Annabelle: Creation,08/07/2017,93.0,Documentary,Director David F. Sandberg takes you through t...,"David F. Sandberg, Himself, Talitha Bateman, H...",Directing Annabelle: Creation,Released,English,227800000.0,1.644265e+09,US,Blockbuster
4887,Pretty Young Sister 4,01/15/2021,100.0,"Drama, Romance",Jeong-woo who is tired of instant food and liv...,"Ha Yeon, , Shin Yeon-ho, , Kang Seo, , Yoon Da...",예쁜 여동생 4,Released,Korean,201000000.0,1.569324e+09,KR,Blockbuster
5404,The Chosen: Season 3 - Episodes 1 & 2,11/18/2022,100.0,"Drama, History",After Jesus completes a sermon that turns the ...,"Jonathan Roumie, Jesus, Noah James, Andrew, Pa...",The Chosen: Season 3 - Episodes 1 & 2,Released,English,201000000.0,1.569324e+09,US,Blockbuster
6401,Oryu's Passion: Bondage Skin,06/18/1975,90.0,Crime,When the boss of a yakuza clan in 1920s Osaka ...,"Naomi Tani, Oryū(燕返しのお柳), Terumi Azuma, Omitsu...",お柳情炎 縛り肌,Released,Japanese,222000000.0,1.610291e+09,JP,Blockbuster
6433,"Furin, hentai, monmon chômon",10/25/2019,100.0,Drama,"Minoru is dead. However, he was conscious for ...","Tomoka Takase, Maya Iizuka, Riona Suzushiro, S...",不倫、変態、悶々弔問,Released,Japanese,201000000.0,1.569324e+09,JP,Blockbuster
7815,Rebound,04/05/2023,98.0,Drama,Joong-Ang High School was once renowned for it...,"Ahn Jae-hong, Kang Yang-hyun, Lee Sin-young, C...",리바운드,Released,Korean,45000000.0,1.749201e+07,KR,Blockbuster
8232,Housekeeper,03/26/2020,100.0,Romance,"Min-woo, the consulate general of the overseas...","Ahn So-hee, , Min Do-yoon, , Kang Min-woo, , H...",예쁜식모,Released,Korean,201000000.0,1.569324e+09,KR,Blockbuster
9582,Charlton Heston: Radical to Right Wing,02/24/2023,90.0,"Documentary, TV Movie",A look at the life and work of the iconic US a...,"Maud Guillaumin, Self - Narrator (voice), Jona...",Charlton Heston : la démesure d'un géant,Released,French,264000000.0,1.263824e+09,FR,Blockbuster
10046,Simulant,06/02/2023,100.0,"Science Fiction, Thriller",Faye attempts to replace her newly deceased hu...,"Robbie Amell, Evan, Jordana Brewster, Faye, Si...",Hello Stranger,Released,English,201000000.0,1.569324e+09,US,Blockbuster

In [103]:
year = n_data.groupby(pd.to_datetime(n_data['date_x']).dt.year == 2022)

In [107]:
n_data.sort_values(by='date_x', ascending=False)

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country,Category
1317,"La Usurpadora, the Musical",12/31/2023,90.0,"Music, Comedy, Drama","Two identical twin sisters, separated at birth...","Isabella Castillo, Valeria / Victoria, Alan Es...","La Usurpadora, El Musical",Released,"Spanish, Castilian",254000000.0,1.656280e+09,MX,Blockbuster
2439,Seal Team,12/31/2021,71.0,"Animation, Family",After his best friend is killed in a shark att...,"Jessie T. Usher, Quinn (voice), J.K. Simmons, ...",Seal Team,Released,English,81300000.0,4.094474e+08,US,Hit
8814,Pieces of a Woman,12/31/2020,71.0,Drama,When a young mother's home birth ends in unfat...,"Vanessa Kirby, Martha Weiss, Shia LaBeouf, Sea...",Pieces of a Woman,Released,English,100000000.0,3.698620e+08,AU,Hit
5115,Abigail,12/31/2019,62.0,"Adventure, Fantasy, Mystery",A young girl Abigail lives in a city whose bor...,"Tinatin Dalakishvili, Эбигейл Фостер, Rinal Mu...",Abigail,Released,English,7000000.0,1.940234e+06,US,Average
9219,Taylor Swift: Reputation Stadium Tour,12/31/2018,83.0,Music,Taylor Swift takes the stage in Dallas for the...,"Taylor Swift, Self, Charli XCX, Self, Camila C...",Taylor Swift: Reputation Stadium Tour,Released,English,123000000.0,5.971258e+08,US,Hit
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4369,Soy leyenda,01/01/1967,62.0,"Drama, Horror, Science Fiction","First the atomic war broke out, new machines w...","Moisés Menéndez, Robert Neville, Eliska Ramíre...",Soy leyenda,Released,"Spanish, Castilian",102200000.0,6.307938e+08,ES,Average
8681,Sube y Baja,01/01/1959,80.0,Comedy,It is the story of a sportsman who is a little...,"Cantinflas, Cantinflas, Teresa Velázquez, Lucy...",Sube y Baja,Released,"Spanish, Castilian",102200000.0,6.965825e+08,US,Hit
3681,Seven Samurai,01/01/1956,85.0,"Action, Drama",A samurai answers a village's request for prot...,"Toshirō Mifune, Kikuchiyo, Takashi Shimura, Ka...",七人の侍,Released,Japanese,2000000.0,3.463000e+05,AU,Hit
9410,Beauty and the Beast,01/01/1952,75.0,"Drama, Fantasy, Romance",The story of a gentle-hearted beast in love wi...,"Jean Marais, The Beast / The Prince / Avenant,...",La Belle et la Bête,Released,French,20000000.0,4.386568e+08,AU,Hit
9409,Beauty and the Beast,01/01/1952,75.0,"Drama, Fantasy, Romance",The story of a gentle-hearted beast in love wi...,"Jean Marais, The Beast / The Prince / Avenant,...",La Belle et la Bête,Released,French,160000000.0,1.268697e+09,AU,Hit

In [110]:
n_data.sort_values(by = 'score', ascending = False).head(11)

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country,Category
4887,Pretty Young Sister 4,01/15/2021,100.0,"Drama, Romance",Jeong-woo who is tired of instant food and liv...,"Ha Yeon, , Shin Yeon-ho, , Kang Seo, , Yoon Da...",예쁜 여동생 4,Released,Korean,201000000.0,1.569324e+09,KR,Blockbuster
934,Female Boss Hooker,08/31/2020,100.0,"Drama, Romance",Ji-cheol is a job seeker who only plays and ea...,"Ye Seul, , Lee Sul-ah-I, , Min Do-yoon, , Jo Y...",여사장 후리꾼,Released,Korean,201000000.0,1.569324e+09,KR,Blockbuster
8232,Housekeeper,03/26/2020,100.0,Romance,"Min-woo, the consulate general of the overseas...","Ahn So-hee, , Min Do-yoon, , Kang Min-woo, , H...",예쁜식모,Released,Korean,201000000.0,1.569324e+09,KR,Blockbuster
10046,Simulant,06/02/2023,100.0,"Science Fiction, Thriller",Faye attempts to replace her newly deceased hu...,"Robbie Amell, Evan, Jordana Brewster, Faye, Si...",Hello Stranger,Released,English,201000000.0,1.569324e+09,US,Blockbuster
6433,"Furin, hentai, monmon chômon",10/25/2019,100.0,Drama,"Minoru is dead. However, he was conscious for ...","Tomoka Takase, Maya Iizuka, Riona Suzushiro, S...",不倫、変態、悶々弔問,Released,Japanese,201000000.0,1.569324e+09,JP,Blockbuster
443,El asistente,03/01/2023,100.0,Comedy,We don't have an overview translated in Englis...,"Rodrigo Noya, Miguel, Luis Cao, Jimmy, Florenc...",El asistente,Released,"Spanish, Castilian",201000000.0,1.569324e+09,AR,Blockbuster
277,Orgasm Lecture 2,02/20/2020,100.0,Drama,"Yuner, Liu Ren, and Zhou Xian are college girl...","Min Do-yoon, , Park Soo-bin-III, , Hong Sae-he...",오르가즘 특강 2,Released,Korean,201000000.0,1.569324e+09,KR,Blockbuster
5404,The Chosen: Season 3 - Episodes 1 & 2,11/18/2022,100.0,"Drama, History",After Jesus completes a sermon that turns the ...,"Jonathan Roumie, Jesus, Noah James, Andrew, Pa...",The Chosen: Season 3 - Episodes 1 & 2,Released,English,201000000.0,1.569324e+09,US,Blockbuster
7815,Rebound,04/05/2023,98.0,Drama,Joong-Ang High School was once renowned for it...,"Ahn Jae-hong, Kang Yang-hyun, Lee Sin-young, C...",리바운드,Released,Korean,45000000.0,1.749201e+07,KR,Blockbuster
4755,Directing Annabelle: Creation,08/07/2017,93.0,Documentary,Director David F. Sandberg takes you through t...,"David F. Sandberg, Himself, Talitha Bateman, H...",Directing Annabelle: Creation,Released,English,227800000.0,1.644265e+09,US,Blockbuster
2156,BTS: Permission to Dance on Stage - LA,09/08/2022,92.0,"Music, Documentary","Purple colors the city of Los Angeles, as BTS ...","Kim Nam-joon, Self, Kim Seok-jin, Self, Min Yo...",BTS: PERMISSION TO DANCE 온 스테이지 – LA,Released,Korean,215600000.0,1.748017e+09,KR,Blockbuster